<div>
<form class="input-group" action="http://localhost:7070/login/" >
    <h3>Login</h3>
          <label for="mail">Email</label>
          <input type="email" name="email" id="mail" placeholder="Correo Electronico">
         <label for="age">Password</label>
          <input type="password" name="password" id="password" placeholder="password">
          <input type="submit" class="btn" value="Enviar" id="button">
        </div>

</form>
